<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLqYw_5QuDt_dEUTLksGqUsKCGRLMTIRU</string>
	<key>GCM_SENDER_ID</key>
	<string>591803961788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>is.rafraenarlausnir.Heimilid</string>
	<key>PROJECT_ID</key>
	<string>rl-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>rl-admin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591803961788:ios:f6a9ccbcfc9473322c1bb9</string>
</dict>
</plist>